*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background-image:url("../images/bg6.jpeg");
background-size:cover;
background-position:center;

color:white;

}


/* NAVBAR */

header{

padding:20px;

background-image:url("../images/bg4.jpg");
background-size:cover;
background-position:center;

}

/* NAV BUTTON CONTAINER */

.nav-buttons{

display:flex;
width:100%;
justify-content:space-evenly;

}


/* NAV BUTTONS */

.top-btn{

flex:1;

margin:0 8px;

padding:12px;

border:none;

border-radius:12px;

background:rgba(255,255,255,0.3);

color:white;

cursor:pointer;

transition:0.3s;

}

.top-btn:hover{

background:#9c86ff;

transform:scale(1.05);

}


/* LAYOUT */

.container{

display:flex;

}


/* SIDEBAR */

.sidebar{

width:240px;

padding:25px;

background-image:url("../images/bg4.jpg");
background-size:cover;

display:flex;
flex-direction:column;

gap:20px;

}

.sidebar h2{
margin-bottom:10px;
}

.profile{

font-size:40px;

background:black;

width:70px;
height:70px;

display:flex;
align-items:center;
justify-content:center;

border-radius:50%;

margin-bottom:10px;

}


/* SIDEBAR BUTTONS */

.menu-btn{

padding:12px;

border:none;

border-radius:10px;

background:rgba(255,255,255,0.3);

color:white;

cursor:pointer;

transition:0.3s;

}

.menu-btn:hover{

background:#8f79ff;

transform:translateX(5px);

}


/* MAIN */

.main{

flex:1;

padding:30px;

}


/* BOX SECTIONS */

.box{

background:rgba(0,0,0,0.4);

padding:20px;

border-radius:12px;

margin-bottom:25px;

backdrop-filter:blur(8px);

}

.box h3{
margin-bottom:15px;
}


/* CARDS */

.cards{

display:flex;

gap:20px;

}

.small-card{

padding:15px;

border-radius:10px;

background:rgba(255,255,255,0.25);

text-align:center;

flex:1;

transition:0.3s;

}

.small-card:hover{

transform:scale(1.05);

background:#9a85ff;

}


/* TABLE */

table{

width:100%;

border-collapse:collapse;

background:white;

color:black;

}

th,td{

padding:10px;

border:1px solid black;

text-align:center;

}


/* EDIT BUTTON */

.edit-btn{

padding:6px 14px;

border:none;

border-radius:10px;

background:#9c86ff;

color:white;

cursor:pointer;

}

.edit-btn:hover{

background:#7e66ff;

}


/* IMAGE ROW */

.image-row{

display:flex;

gap:15px;

}

.img-box{

height:80px;

flex:1;

border-radius:10px;

background:rgba(255,255,255,0.2);

transition:0.3s;

}

.img-box:hover{

transform:scale(1.05);

background:rgba(255,255,255,0.4);

}
.box{

background-image:url("../images/bg4.jpg");
background-size:cover;
background-position:center;

padding:20px;

border-radius:12px;

margin-bottom:25px;

backdrop-filter:blur(8px);

}
.img-box{

height:120px;

flex:1;

border-radius:10px;

overflow:hidden;

transition:0.3s;

}

.img-box img{

width:100%;

height:100%;

object-fit:cover;

}

/* hover effect */

.img-box:hover{

transform:scale(1.05);

}