*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

height:100vh;
color:white;

}

/* HEADER */

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 40px;

/* ADD HEADER BACKGROUND IMAGE */

background-image:url("../images/bg4.jpg");

background-size:cover;
background-position:center;

}

/* TOP BUTTONS */

.top-buttons{
display:flex;
gap:15px;
}

.top-btn{

padding:10px 18px;

border:none;

border-radius:10px;

background:rgba(255,255,255,0.2);

color:white;

cursor:pointer;

transition:0.3s;

}

.top-btn:hover{

background:#8e7cff;

transform:scale(1.05);

}


/* MAIN LAYOUT */

.main-container{

display:flex;
height:calc(100vh - 80px);

}


/* SIDEBAR */

.sidebar{

width:250px;

padding:25px;

display:flex;
flex-direction:column;

gap:20px;

/* ADD SIDEBAR BACKGROUND IMAGE */

background-image:url("../images/bg4.jpg");

background-size:cover;
background-position:center;

}

/* SIDEBAR BUTTONS */

.menu-btn{

padding:14px;

border:none;

border-radius:12px;

font-size:16px;

background:rgba(255,255,255,0.2);

color:white;

cursor:pointer;

transition:0.3s;

}

.menu-btn:hover{

background:#9c86ff;

transform:translateX(6px);

}


/* DASHBOARD AREA */

.dashboard{

flex:1;

padding:40px;

display:grid;

grid-template-columns:repeat(2,1fr);

gap:40px;

/* ADD MAIN BACKGROUND IMAGE */

background-image:url("../images/bg6.jpeg");

background-size:cover;
background-position:center;

}


/* CARDS */

.card{

padding:35px;

border-radius:16px;

background:rgba(0,0,0,0.4);

backdrop-filter:blur(10px);

text-align:center;

transition:0.3s;

box-shadow:0 10px 25px rgba(0,0,0,0.5);

}
.card{
padding:35px;
border-radius:16px;

background-image:url("../images/bg4.jpg");
background-size:cover;
background-position:center;

background-color:rgba(0,0,0,0.5);
background-blend-mode:darken;

text-align:center;
transition:0.3s;

box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

.card h3{
margin-bottom:15px;
}

.card p{

font-size:28px;
font-weight:bold;

margin-bottom:10px;

}

.card span{

font-size:15px;
opacity:0.9;

}

/* CARD HOVER */

.card:hover{

transform:translateY(-10px) scale(1.03);

box-shadow:0 20px 40px rgba(0,0,0,0.7);

background:rgba(0,0,0,0.6);

}