body {
    font-family: Arial, sans-serif;
    background: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("/images/bg.jpg");
    background-size: cover;
    background-position: center;
}