*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
color:white;
background:black;
}

/* HERO */

.hero{
height:80vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:40px;
margin-bottom:10px;
}

.hero p{
font-size:20px;
margin-bottom:20px;
}

.hero-buttons{
display:flex;
gap:20px;
justify-content:center;
}

.btn{
padding:14px 28px;
border:none;
border-radius:25px;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.primary{
background:#8f7bff;
color:white;
}

.secondary{
background:white;
color:black;
}

.btn:hover{
transform:scale(1.05);
}
body{
margin:0;
padding:0;

background-image:url("../images/bg7.jpeg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;

color:white;
font-family:Arial;
}

/* COURSES */

.courses{
display:flex;
gap:30px;
justify-content:center;
padding:60px 20px;
flex-wrap:wrap;
}

.course-card{
width:300px;
background:#111;
border-radius:20px;
padding:20px;
text-align:center;
transition:0.3s;
}

.course-card:hover{
transform:translateY(-10px);
}

.course-img{
height:180px;
background:#333;
border-radius:15px;
margin-bottom:15px;
}


/* EXPERIENCE GRID */

.experience{
display:grid;
grid-template-columns:2fr 1fr 1fr;
grid-gap:20px;
padding:40px;
}

.exp-card{
background:#222;
padding:40px;
border-radius:15px;
text-align:center;
transition:0.3s;
}

.exp-card:hover{
transform:scale(1.05);
}

.large{
grid-row:span 2;
}


/* REVIEWS */

.reviews{
padding:60px 20px;
text-align:center;
}

.review-container{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
margin-top:30px;
}

.review-card{
background:#eee;
color:black;
padding:20px;
border-radius:15px;
width:260px;
transition:0.3s;
}

.review-card:hover{
transform:scale(1.05);
}


/* STATS */

.stats{
display:flex;
justify-content:center;
gap:50px;
padding:40px;
flex-wrap:wrap;
text-align:center;
}

.stat h3{
font-size:30px;
color:#9b8cff;
}


/* FOOTER */

footer{
background:#000;
padding:40px 20px;
}

.footer-container{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
gap:30px;
}

.footer-col{
max-width:250px;
}

.footer-col h4{
margin-bottom:10px;
}

.footer-col p{
font-size:14px;
margin-bottom:5px;
color:#bbb;
}


/* RESPONSIVE */

@media(max-width:900px){

.hero h1{
font-size:30px;
}

.experience{
grid-template-columns:1fr;
}

.large{
grid-row:span 1;
}

}

@media(max-width:600px){

.hero-buttons{
flex-direction:column;
}

.courses{
flex-direction:column;
align-items:center;
}

.stats{
gap:30px;
}

}